<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col col-lg-8">
      <h2>Stupid Coaching</h2>
      <p>Ask your coach anything:</p>
      <form action="/answer" data-turbo="false">
        <div class="input-group">
          <input type="text" class="form-control" name="question" placeholder="Question?" aria-describedby="basic-addon2">
          <button class="btn btn-primary" type="submit">Ask</button>
        </div>
      </form>
    </div>
  </div>
</div>
